[2016-05-04 09:31] emoshaya opened #3 "Missing Pull Request Merges in Git Changelog"
The "Git Changelog" Publish Action works great in listing commits in the Jenkins Build Summary. However, it fails to list any of the Pull Request merges. Please see screenshots below of Actual Github Commits and the Jenkins Summary Page missing all the PR merges.

![github_commits](https://cloud.githubusercontent.com/assets/8818542/15010323/4e6e9166-11e3-11e6-807b-6c805c810620.png)

![jenkins_chan

[2016-05-04 10:25] tomasbjerre commented on #3
How have you configured the plugin?
Den 4 maj 2016 12:22 skrev "Paul Wellner Bou" notifications@github.com:

[2016-05-04 10:35] emoshaya commented on #3
@tomasbjerre clearly from the screenshot I provided with the issue, the plugin is configured correctly as the commits are displayed in the Jenkins Build page but missing the PR Merges...Nevertheless, below are screenshots of the config..

![config-1](https://cloud.githubusercontent.com/assets/8818542/15011878/35340484-11ec-11e6-90fc-35de9869cd8f.png)
![config-2](https://cloud.githubusercontent.com

[2016-05-04 10:36] tomasbjerre commented on #3
You have pattern `^Merge.*`, remove that and it should work.

[2016-05-04 10:45] emoshaya commented on #3
@tomasbjerre now I feel stupid. Thank you that worked!

[2016-05-04 10:45] #3 closed, assigned to tomasbjerre

[2016-05-04 10:46] tomasbjerre commented on #3
No problem =) Perhaps its a bad default configuration. If more people wants to include merges, I'll change it.

[2016-05-23 15:04] Garagoth opened #5 "Add support for getting changelog between two commit ids"
Providing a specific commit id (sha) results in ref not found error.
Could you please add support for this - it will integrate nicely with promoted builds plugin which provides commit ids as env variables.

[2016-05-23 16:38] tomasbjerre commented on #5
What version are you using of the plugin? Do you have a stacktrace?

[2016-05-24 07:11] Garagoth commented on #5
Hi,
1.26 on Jenkins 2.6
I am trying to pass git commit id as fromRef and toRef fields, which fails with message:

[2016-05-24 07:17] tomasbjerre commented on #5
Stacktrace shows you are using @paulwellnerbou part of the plugin. I'm assigning to him.

[2016-06-07 13:08] vadeg opened #6 "Get changelog between last two tags"
It will be nice to have an ability to get changelog between last and previous tags.
For example. I want to email about new releases, but I don't want to include in email all tags and all commits from the beginning. Just commits between current tag and previous tag.

[2016-06-07 13:18] tomasbjerre commented on #6
You may use from **${GIT_PREVIOUS_COMMIT}** to **${GIT_COMMIT}** as explained in [the wiki](https://wiki.jenkins-ci.org/display/JENKINS/Git+Changelog+Plugin).

[2016-06-08 08:33] paulwellnerbou commented on #6
@vadeg: For this purpose I created the first version of this plugin. So if you use the action called "Publish Git Changelog" the [git-changelog](https://github.com/paulwellnerbou/git-changelog) library will automatically search for the latest tag.

The output is not as flexible as the output you can get with the "Git Changelog" task, though. See the documentation under "Jira Filter" in the wiki.

[2016-06-09 05:58] paulwellnerbou commented on #5
@Garagoth, sorry for the late reply. Actually this should work. I will have a look into it and report back.

[2016-06-09 09:18] paulwellnerbou commented on #5
Fixed with 1.28.

[2016-06-09 09:18] paulwellnerbou commented on #5
Fixed with 1.28.

[2016-06-09 09:18] #5 closed, assigned to paulwellnerbou

[2016-06-10 07:26] vadeg commented on #6
@paulwellnerbou thank you for this plugin. It works fine, but has problem with the output.
Plugin adds to the output useless information like
`No revs given, searching automatically for latest released tags...
Found toRev tag changelog-test-1.0.3
Found fromRev tag changelog-test-1.0.2`

and I can't convert this output to more readable form.

[2016-06-10 07:26] vadeg commented on #6
@tomasbjerre thanks! I'll try.

[2016-06-10 07:45] paulwellnerbou commented on #6
@vadeg @tomasbjerre's output is way more flexible to customize. I am planning to join the two plugins, so that they are not completely separated, may for a 2.0 version...

[2016-06-10 10:12] vadeg commented on #6
@paulwellnerbou, great!

[2016-06-13 09:05] paulwellnerbou commented on #6
@vadeg Not sure when this is going to happen though. Are you able to use @tomasbjerre's solution using the GIT_\* variables for your use case?

[2016-06-17 12:07] vadeg commented on #6
@paulwellnerbou, Nope. I have an error

[code]

git log output

[code]

As you can see `34e971e6b46df02bb7cd404e80f053955e279fa2` is `[maven-release-plugin] prepare for next development iteration`

git show-ref output

[code]

[2016-06-17 12:17] tomasbjerre commented on #6
Can you post a screenshot of you jenkins settings?

In the _Choose 'from' reference_ and _Choose 'to' reference_, you need to select _Specific commit (Enter below)_. I suspect you have chosen _A branch or tag (Enter below)_.

[2016-06-17 12:17] paulwellnerbou commented on #6
@vadeg is this the git output of the repository jenkins is using as well? (/var/lib/jenkins/workspace/test-changelog/.git)?
Is it working with the "Publish Changelog", although the output is not customizable?

@tomasbjerre Any idea?

[2016-06-20 10:06] vadeg commented on #6
@paulwellnerbou yes.

@tomasbjerre thanks. It helps to solve problem above, but I get strange output.

[My plugin settings](http://prntscr.com/bim3j1)
[Git log output](http://prntscr.com/bim3u5)

I have the output [like this](http://prntscr.com/bim62b)

Maybe something wrong with the settings?

[2016-06-20 10:37] tomasbjerre commented on #6
Can you include the commit-hashes in the git log?
And also what does the variables resolve to when building?
If you think its easier, you may try [the command line tool](https://github.com/tomasbjerre/git-changelog-command-line).

[2016-08-09 06:37] tomasbjerre commented on #6
No response, closing it.

[2016-08-09 06:37] #6 closed, assigned to tomasbjerre, paulwellnerbou

[2016-08-09 06:39] tomasbjerre opened #7 "Pipeline and job-dsl compatibility"
Make sure it works with the pipeline plugin and can be configured with job-dsl. Also document this in the   readme.

[2016-08-10 17:44] tomasbjerre opened #8 "Use credentials plugin"

[2016-08-10 18:17] #7 closed, assigned to tomasbjerre

[2016-08-25 07:09] Mc-Mido commented on #7
Can we use git-changelog-plugin in a Jenkins pipeline? Please could you update the readme file with a how to use this plugin into a pipeline?

[2016-08-25 07:17] tomasbjerre commented on #7
Yes. It should be possible. You should be able to autogenerate the config.

https://jenkins.url/pipeline-syntax/html

Where jenkins.url is the base URL of your Jenkins server.

[2016-08-25 08:36] Mc-Mido commented on #7
I didn't see GitChangelogRecorder...

Ty for your quick answer.

[2016-11-02 05:18] zelongg opened #10 "How to add change log in email using this plugin coperating with email-ext-plugin"
When I launch a build, I can see the changes in Jenkins.

Could I use this git-changelog-plugin to add changes in email?

![image](https://cloud.githubusercontent.com/assets/21305437/19917486/b6840948-a0fe-11e6-94e5-0db5069cf622.png)

[2017-02-16 15:09] furystryker commented on #10
I'm also wondering how to do this. I've got the token ${GITCHANGELOG} in my email content body for the Editable Email Notification and a post-build action of "Git Changelog" with specific commit references (full SHA1's, not VARS) and on the job summary page I see all the changes, but I keep getting the error message in the email body:

`No revs given, searching automatically for latest released ta

[2017-02-16 15:28] paulwellnerbou commented on #10
@furystryker, @gongzelong: Sure, this is possible.

This part of the plugin is designed for release changelogs, so it searches automatically for logs between tags. But if you provide the correct hashs (you can find them in your jenkins build environment), you should be able to get the log since the last build.

I don't know which variables are provided there in memory, I'll look into this later to

[2017-02-16 15:42] paulwellnerbou commented on #10
Here you have a list of environment variables provided by the git-plugin: https://wiki.jenkins-ci.org/display/JENKINS/Git+Plugin#GitPlugin-Environmentvariables

Please see https://wiki.jenkins-ci.org/display/JENKINS/Git+Changelog+Plugin#GitChangelogPlugin-Usage as well.

Does this help?

[2017-02-16 16:01] furystryker commented on #10
I've been over both of those docs in the past 24h to no avail.

Is there a way to pass fromRev or toRev directly to GITCHANGELOG ?

[2017-02-17 11:47] paulwellnerbou commented on #10
What about this configuration?
![screenshot from 2017-02-17 12-46-49](https://cloud.githubusercontent.com/assets/1842543/23064249/413815ac-f50f-11e6-8173-8b5ecf74ceab.png)

If not, you can just use ${CHANGES_SINCE_LAST_BUILD} (although there seem to be a bug now, but will be fixed soon: https://issues.jenkins-ci.org/browse/JENKINS-38668)

[2017-02-17 14:25] furystryker commented on #10
I've been using the hash's, but even when I use the ENV VAR's the email still comes in blank, I can see the changes on the changes screen for the jobs though, either way.

Hopefully the screenshots will help clarify

![screen shot 2017-02-17 at 9 21 53 am](https://cloud.githubusercontent.com/assets/4219331/23068749/dab0ddbc-f4f2-11e6-95ba-1f2ed0518b37.png)
![screen shot 2017-02-17 at 9 20 27 am](h

[2017-03-06 07:51] paulwellnerbou commented on #10
@furystryker There are two changes detected since the latest build, numbered with 1. and 2. Just the commit messages are not displayed. Can you paste an output of the git log between those revisions to have a look at the git commit messages? Are they empty?

Could you have a look at the build log? The complete output of "publish git changelog" is printed to console as well.

By the way, you don't

[2017-03-26 10:09] #8 closed, assigned to tomasbjerre

[2017-03-29 09:31] vivelys opened #11 "Html incorrectly rendered in summary on job page"
Hello,
I used the same template for both printing a summary on job page and create file (the one found here).
The file is created but when I open the job page, all html tag are visible and no rendering is done.
If I add to the a description using html tag, the description is rightly rendered.
![7b37c364-0f55-11e7-842a-87a5757184d4](https://cloud.githubusercontent.com/assets/10617428/24448068/3e4b0

[2017-03-29 15:16] tomasbjerre commented on #11
Releaseing 1.48 now. Will be available within a few hours. Should fix the problem.

[2017-03-29 15:16] #11 closed, assigned to nobody

[2017-08-03 23:50] ivkim opened #12 "JIRA updator"
I've found this to be more accurate in terms of changes between successful builds.  I've been using the update relevant JIRA issues plugin but when there are aborts/failures, Jenkins seems to lose track of the changes that would have been.  Can I request an enhancement to also update the relevant JIRA tickets? (https://wiki.jenkins.io/display/JENKINS/JIRA+Plugin)

[2017-08-04 06:27] paulwellnerbou commented on #12
Sure you can, although I don't think this will happen in near future. This plugin is currently completely independent from Jira, so to build this, we would need to implement the Jira API, with settings for the URL, credentials, and so on.

How do you want your Jira tickets to be updated? A workflow transition?

[2017-08-04 17:25] ivkim commented on #12
A workflow transition would be nice but that might depend on cooperation with the JIRA admin and possibly affecting other projects etc.  The Jenkins issue updater plugin basically "stamps" the ticket with a comment saying successfully built with job xyz, (or abort or failure etc).

[2017-08-09 10:57] jonasv opened #13 "Is it possible to use this plugin in scripted pipelines?"
Hey,

Is it possible to use this plugin in scripted pipelines (groovy)?

[2017-08-09 12:06] tomasbjerre commented on #13
yes

[2017-08-09 12:06] #13 closed, assigned to nobody

[2017-08-10 10:59] jonasv opened #14 "How to use this in scripted pipelines?"
Hey,

thanks for closing my previous ticket so fast ;)

Could you please share examples how to use this plugin and specific features (like publish jira) when using scripted pipelines? You previously said it is possible, but I can't find example anywhere. Using DSL in my case is not possible for some reason, so scripted pipelines is the only option.

Thank you

[2017-08-10 11:11] jonasv commented on #14
Nevermind, I've your reply mentioning that description is explained in $server/pipeline-syntax/html , this is cool, unfortunately it wasn't only me who was looking for this link, why not put this link somewhere in docs ?

You can close this, thanks.

[2017-08-10 11:53] #14 closed, assigned to nobody

[2017-08-11 09:01] tomasbjerre commented on #14
If you have an example pipeline I'd be happy to add it to the readme and the wiki =)

[2017-11-28 18:55] VermaGa opened #15 "Plugin holding open files? Unable to delete windows workspace due to busy git pack file"
I get the error Unable to delete windows workspace due to busy git pack file after I build and use the Git changelog plugin.

seems this was reported before as well against jenkins.
https://issues.jenkins-ci.org/browse/JENKINS-19994

[2017-11-28 21:13] tomasbjerre commented on #15
This plugin does not use the `Git Plugin`. So the referenced jira is probably not related.

I'll have a look later here to make sure nothing obvious is locked...

[2017-12-01 20:07] tomasbjerre commented on #15
This plugin uses a library and reads the git repository here:
https://github.com/tomasbjerre/git-changelog-lib/blob/master/src/main/java/se/bjurr/gitchangelog/internal/git/GitRepo.java#L82

It is closed here:
https://github.com/tomasbjerre/git-changelog-lib/blob/master/src/main/java/se/bjurr/gitchangelog/api/GitChangelogApi.java#L76

I don't think there is much for me to do here without any more i

[2017-12-30 13:30] jenkinsfu opened #16 "useJira: true does not work"
Hello,

in freestyle job everything works, but I'm using scripted pipelines. The problem is that I can't get jira publish filter plugin working to get the list of jira issues mentioned between two commits, it just does not provide any output, but it generates changelog file pretty much correctly. Could you please advice what could be wrong when you have a time?

Thank you so much

    https://past

[2017-12-30 14:10] tomasbjerre commented on #16
If I would want a list of jiras mentioned between 2 commits I would have a template that loops the `issues` list.

[2017-12-30 14:17] jenkinsfu commented on #16
Oh , what is useJira variable then for ?

[2017-12-30 14:20] tomasbjerre commented on #16
If set to true, and any needed jira-credentials is supplied, information from Jira will be made available in the  issues objects. Like title, labels, type, description.

[2017-12-30 14:24] jenkinsfu commented on #16
Thanks, can you please share example how those jira-credentials should look like ?

[2017-12-30 14:29] tomasbjerre commented on #16
It is in the readme, you probably need to set these:

 * jiraUsername = "..."
 * jiraPassword = "..."
 * jiraServer = "..."
 * useJira = true

[2017-12-30 15:14] jenkinsfu commented on #16
Thanks.

But there are couple things I still don't understand. How is it possible that in freestyle job I just set branch to "origin/master" and "toref" - $GIT_COMMIT (do you know is it possible to export his variable from somewhere?) and everything works, but in scripted pipeline is not possible to do at the moment ?

I mean this:

08:14:45 --- Git Changelog ---
08:14:45 ---
08:14:45
08:14:45 Jir

[2017-12-30 15:22] tomasbjerre commented on #16
Ok I see. This plugin is a merge of 2 plugins. And that part is maintained by @paulwellnerbou .

[2017-12-30 21:00] tomasbjerre commented on #15
Possibly fixed by: https://github.com/tomasbjerre/git-changelog-lib/commit/9f7c782dc9be919d0ef3f59868b94130cd8a5371#diff-867ccdc6b018ef1308b3fbca701a36a6R87

[2018-01-01 08:17] paulwellnerbou commented on #16
@jenkinsfu, the part of the plugin creating this kind of changelogs is (intentionally) not talking to Jira. So the useJira flag does not have anything to do in this context.

I did not try the plugin with scripted pipelines yet, I will have a look at it.

[2018-01-02 04:45] jenkinsfu commented on #16
Thanks to both of you.

[2018-01-07 09:42] #15 closed, assigned to nobody

[2018-01-31 11:36] weinmannd opened #17 "Nullpointer Exception on Firsttime Build"
When you clone a remote Git repo the first time, a Nullpointer Exception occurs in the changelog plugin:
[code]

[2018-01-31 11:37] tomasbjerre commented on #17
How did you configure the plugin?

[2018-01-31 11:40] weinmannd commented on #17
References:
![image](https://user-images.githubusercontent.com/22617467/35621199-d08eeaba-0683-11e8-9928-12297e3019ec.png)
Create File:
![image](https://user-images.githubusercontent.com/22617467/35621223-ee0863fa-0683-11e8-8fe3-1ecd99dc1c4e.png)

[2018-01-31 11:45] tomasbjerre commented on #17
Is it not just GIT_PREVIOUS_COMMIT that is unset the first time?

[2018-02-26 13:36] tomasbjerre opened #18 "Pipeline/Job DSL configuration is confusing"
The current configuration parameters are very hard to understand. What they do and how to use them...

For example. Should be possible to group some things into configuration objects where common parameters are stored for:
* Creating a file
* Printing on summary page
* Publishing in MediaWiki
* ...

There are also some unnecessary booleans like:
* useGitLab - If gitlab is configured, use it!
* use

[2018-02-26 13:37] tomasbjerre commented on #18
@casz If you have any suggestions here, I'll listen =)

[2018-03-01 11:05] jetersen commented on #18
@tomasbjerre I would start by adding symbols 👍 and making the config describable 👍 then perhaps split the config into groups as you suggested and provide a better step generator experience to help with the configurations experience.

describable makes it easier to create easily maintainable jelly templates that provide a better step generator.

[2018-04-16 17:37] tomasbjerre commented on #18
Note to self: Implement custom steps, examples available here: https://github.com/jenkinsci/pipeline-utility-steps-plugin

[2018-04-19 18:29] #18 closed, assigned to nobody

[2018-04-20 05:34] #16 closed, assigned to paulwellnerbou

[2018-04-20 05:35] #10 closed, assigned to nobody

[2018-04-20 05:35] #12 closed, assigned to nobody

[2018-04-20 05:35] #17 closed, assigned to nobody

[2018-04-20 12:33] mick-feller opened #19 "Pipeline generator"
Hi,

your docs state that this plugin supports pipeline generator, but after install and restart of jenkins it's not showing up there?

Do you have any other form of documentation that i can use to get my pipeline going?

Thanks

[2018-04-20 12:38] tomasbjerre commented on #19
It should show up as `gitChangelog` like this:
![screens-gc](https://user-images.githubusercontent.com/439571/39051216-47086c9a-44a8-11e8-91ce-e3f7745ffb44.png)

There are also examples in the readme that you can copy/paste to try it out.

[2018-04-20 12:39] mick-feller commented on #19
![image](https://user-images.githubusercontent.com/32658692/39051311-45cb73ae-4476-11e8-8acc-001180f48e52.png)

I don't see it in my list :(

[2018-04-20 12:42] tomasbjerre commented on #19
What version of the plugin?
What version of Jenkins?

[2018-04-20 12:49] mick-feller commented on #19
nevermind, somehow it installed version 1.57 and just now i got an update message to version 2.0 and now it's showing up.

Thanks for your quick response!

[2018-04-20 12:49] #19 closed, assigned to nobody

[2018-04-20 12:51] tomasbjerre commented on #19
Np! Its a big change in 2.0 so happy to handle any issues early.

[2018-04-23 07:45] akuzmenkovs opened #20 "gitChangelog step not working with slaves"
Hi,

Newest gitChangelog step is not working with slaves.
It searches git repository on master.
Providing "repo" also doesn't helps. With repo: pwd(), it goes to D:\home\jenkinsUser\workspace. Without repo goes to D:\jenkinsHome\.

 * Plugin version used - 2.0.0
 * Jenkins version used - 2.115
 * Expected result:
Find git repository on slave
 * Actual result:
Searches git repository on master.

[2018-04-23 08:01] tomasbjerre commented on #20
I'll have a look later today. The old scripts should still work.

[2018-04-23 08:03] akuzmenkovs commented on #20
@tomasbjerre Yes, the old script is still working :)

[2018-04-23 14:04] tomasbjerre commented on #20
Releasing 2.1 now. Will be available in update sites within a few hours.

[2018-04-23 14:58] tomasbjerre commented on #20
Closing it now, but open it again if it is not working!

[2018-04-23 14:58] #20 closed, assigned to nobody

[2018-04-26 08:58] gongzelong0718 commented on #10
Marked

[2018-04-26 09:00] tomasbjerre commented on #10
https://stackoverflow.com/questions/7773010/how-to-include-git-changelog-in-jenkins-emails

[2018-05-02 14:43] Sorion opened #21 "CustomIssue not working in Pipeline"
Hi,

I'm trying to use the gitChangeLog plugin in my jenkinsfile but the customIssue parameter seems to not work properly.
In the generated snippet, the parameter "pattern" is missing even if the field is properly set.
By adding it manually I still have a nullPointerExecption.

Here the script from my jenkinsfile
[code]

& the output in Jenkins log

[code]

 * Plugin version used - 2.3.
 * Jenkins

[2018-05-02 15:35] tomasbjerre commented on #21
You can change `pattern` to `issuePattern` to fix this.

I'm releasing a fix to make the snippet generator generating correct script.

[2018-05-02 15:36] #21 closed, assigned to nobody

[2018-05-09 09:48] luisgois opened #22 "JIRA issues in branch name not showing up in changelog"
This is the commits list on our master branch:

![image](https://user-images.githubusercontent.com/5294980/39809644-af9f7ef4-5382-11e8-8996-e9abc9bbb5ea.png)

On a freestyle job,

![image](https://user-images.githubusercontent.com/5294980/39807167-e2f3d522-537b-11e8-920b-bef1fad56376.png)

and these are the reported issues:

(...)
Jira-Tickets mentioned in commits between 7.3.2 and 7.3.3-7:
NCO-72

[2018-05-09 10:20] tomasbjerre commented on #22
I can only see NCO-7504 in the screenshot you attached. The output from `git log` would be better.

Also it differs because this plugin is a merge of 2 plugins. And the code used when configuring the GUI like you did is not the same as the one used when writing that pipeline.

Perhaps try rendering a full changelog, like in the README, with commit hashes and messages. Between these tags. That shou

[2018-05-09 11:41] luisgois commented on #22
Check the "Merge pull request" messages. These include the feature/bugfix branch names merged to master and containing the other issue keys. I'll try the full changelog as suggested.

[2018-05-09 11:53] tomasbjerre commented on #22
Try with:
...
ignoreCommitsIfMessageMatches: "",
...

Den ons 9 maj 2018 13:41Luis <notifications@github.com> skrev:

[2018-05-09 12:31] luisgois commented on #22
even with ignoreCommitsIfMessageMatches: "", the only issue found is NCO-7504

[2018-05-09 14:03] tomasbjerre commented on #22
I think I found the problem. A workaround would be to set the ignored pattern to something that will never exist in any commit. Like this:

[code]

I'll work on a fix for this!

[2018-05-09 14:15] tomasbjerre commented on #22
I'm releasing 2.6 now with a fix. So that you don't need to specify `ignoreCommitsIfMessageMatches`. Should be available in update site within a few hours.

[2018-05-09 14:17] #22 closed, assigned to nobody

[2018-05-23 13:38] it3xl commented on #17
I had a typo in the "From reference" or in "To reference" of the Git Changelog step. Thanks.

[2018-05-24 19:59] benwicks commented on #17
@tomasbjerre I'm facing the same NPE when trying to use the plugin from my pipeline Jenkinsfile. I generated the pipeline code from the Snippet Generator. Can you help diagnose my pipeline syntax? Thank you.

[code]

[2018-05-24 20:43] tomasbjerre commented on #17
You should change 'GIT_PREVIOUS_SUCCESSFUL_COMMIT' to just GIT_PREVIOUS_SUCCESSFUL_COMMIT
If that is a variable. Same with 'GIT_COMMIT'.

And if that does not help you should open  a new issue for your problem. Stating your Jenkins version and plugin version.

[2018-05-24 21:19] benwicks commented on #17
Thank you Tomas, that fixed it. Thank you for helping maintain this cool plugin!

[2018-06-27 09:11] nikolay-borzov commented on #10
I face the same problem.
I've set "From reference"=${GIT_PREVIOUS_COMMIT} and "To reference"=${GIT_COMMIT}.
I do see correct changelog on build result page. But ${GITCHANGELOG} inside the email I see "No revs given, searching automatically for latest released tags... Found toRev tag..."

[2018-07-16 11:15] dischello opened #23 "Git change log plugin error RevisionSyntaxException in pipeline"
* Plugin version - 2.6
* Jenkins version - 2.117
* Configuration:
def changelogString = gitChangelog from: [type: 'COMMIT', value: "${last}"], returnType: 'CONTEXT', template: '''
        \<h1> Git Changelog changelog \</h1>
        Changelog of Git Changelog.
        {{#tags}}
         {{name}}
           {{#commits}}
        <a href="https://github.com/lifesciencesdigital/LS-DigitalHub-Hybris/co

[2018-07-16 11:29] tomasbjerre commented on #23
What happens if you change:
`def changelogString = gitChangelog from: [type: 'COMMIT', value: "${last}"], returnType: 'CONTEXT', `
To:
`def changelogString = gitChangelog from: [type: 'COMMIT', value: last.trim()], returnType: 'CONTEXT', `

?

[2018-07-16 11:34] dischello commented on #23
@tomasbjerre
org.jenkinsci.plugins.scriptsecurity.sandbox.RejectedAccessException: unclassified field org.jenkinsci.plugins.workflow.support.steps.build.RunWrapper description
	at org.jenkinsci.plugins.scriptsecurity.sandbox.groovy.SandboxInterceptor.unclassifiedField(SandboxInterceptor.java:397)
	at org.jenkinsci.plugins.scriptsecurity.sandbox.groovy.SandboxInterceptor.onSetProperty(SandboxInterc

[2018-07-16 11:42] dischello commented on #23
Also "last" variable creates like this.
sh 'git rev-parse HEAD > lastBuild'
last = readFile "./lastBuild"

[2018-07-16 11:43] tomasbjerre commented on #23
You must make sure the `RejectedAccessException` is not caught in your pipeline. Just throw it or else Jenkins will not create anything to approve.

[2018-07-16 11:46] tomasbjerre commented on #23
How do you refer to `description`? Do you use `currentBuild.description = ...` ?

[2018-07-16 11:48] dischello commented on #23
yes

``def changelogString = gitChangelog from: [type: 'COMMIT', value: last.trim()], returnType: 'CONTEXT', template: '''
                '''
currentBuild.description = changelogString``

[2018-07-16 11:53] tomasbjerre commented on #23
https://issues.jenkins-ci.org/browse/JENKINS-45308

Jess writes:

[2018-07-16 11:58] dischello commented on #23
Job now green, but in the description i see weird  output.

``se.bjurr.gitchangelog.api.model.Changelog@41e41fab``

[2018-07-16 12:00] tomasbjerre commented on #23
change:
`returnType: 'CONTEXT'`
to:
`returnType: 'STRING'`

[2018-07-16 12:05] dischello commented on #23
Thanks now everything is working fine, greatly appreciate it.

[2018-07-16 12:08] #23 closed, assigned to nobody

[2018-09-11 19:17] bbendes opened #24 "Wrong info for {{ownerName}} and {{repoName}} when Repo name has '.' in it"
Some of my repos have a period '.' in the name; instead of return the correct {{owner}} and {{repoName}} it returns the value before the '.' as the owner and the value after the '.' as the repoName.

 * Plugin: 2.7
 * Jenkins: 2.137
 * Your configuration:
   * Github link: git@github.Company.com:Organization/5.0.git
   * Jenkins File:
[code]
 * Expected result and actual result.
   * Result: "# Ch

[2018-09-12 13:26] sumith08 commented on #10
I did set the variables inside the git publish section. But not sure how to set the same in the editable email notification parts to get an emal.
The document shared above are not helpful.

[2018-09-12 13:55] tomasbjerre commented on #10
I would use a pipeline. There are examples in the readme. Create the changelog, store it in a variable and use that variable when constructing email content.

Here is how to send email from pipeline: https://jenkins.io/doc/pipeline/steps/email-ext/

[2018-09-12 14:00] O5ten opened #25 "Cannot get the GITCHANGELOGJIRA macro to work"
Plugin version used.
Jenkins version: 2.121.3

The job in question publishes JIRA Filter as a second to last step.

Unable to pickup `${GITCHANGELOGJIRA}` variable from the Confluence Publisher Plugin that comes right after in our build configuration. Other build environment variables and macros are used in the Confluence Publisher and expanded properly. Am i doing something wrong or is the TOKEN

[2018-09-12 14:03] O5ten commented on #25
Plugin version: 2.7

[2018-09-12 14:03] O5ten opened #26 "output file does not expand environment variables and assumes root"
Same configuration as in #25.

When trying to export publish JIRA Filter results to a file i add `output.log` but the plugin tries to write it to `/outlog.log` which naturally it does not have access to. It should use the current workspace directory.

Which brings me to the other problem, when adding the `$WORKSPACE` environment variable to the path then it is not expanded. Rather, we get `/$WORKS

[2018-09-12 14:09] tomasbjerre commented on #25
You are not providing your configuration. It sounds like you are not using a pipeline. If not using pipeline this plugin adds 3 post build actions: "**Git Changelog**", **"Publish Jira filter"** and "**Publish Git Changelog**". Which one do you use?

[2018-09-12 14:14] O5ten commented on #25
Correct, not using pipeline.
I don't use Git Changelog or Publish Git Changelog, i only use the Publish JIRA Filter,
but even when i do it does not expand the variable.

[2018-09-12 14:17] O5ten commented on #25
![image](https://user-images.githubusercontent.com/3242379/45431103-39c7f700-b6a7-11e8-912c-26a65f41dec7.png)

Here's the configuration, not much else to it.

[2018-09-12 14:17] tomasbjerre commented on #25
Ok. This plugin is a merge of 2 plugins and that part is maintained by @paulwellnerbou . I just do "**Git Changelog**". Assigning it to him.

[2018-09-12 14:18] O5ten commented on #26
This is what it writes for me on our linux-worker.

[code]

[2018-09-12 15:18] tomasbjerre commented on #24
https://github.com/tomasbjerre/git-changelog-lib/commit/56f23fe9eff5487

[2018-09-12 15:23] tomasbjerre commented on #24
Should be fixed now in 2.8. Open issue again if not working!

[2018-09-12 15:23] #24 closed, assigned to nobody

[2018-09-12 15:48] sumith08 commented on #10
Hi Tomas,

I was trying to generate a pipeline code from snippet generator for gitChangelog. There I can find many fields which are not explained much.
Like what I should specify for value?
Where can I find GitHub Token and API url?

[2018-09-12 15:50] tomasbjerre commented on #10
https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/

https://developer.github.com/v3/

[2018-09-13 11:35] sumith08 commented on #10
Hi Tomas,

I tried to get the change logs in the variable and call it in the email. But I did not get any email notification.
Am I missing something in the code?
[code]

[2018-09-13 12:08] tomasbjerre commented on #10
I think it looks correct. Perhaps you did not configure emailing correctly in Jenkins. But this is not the place to ask such things, try Stackoverflow. Maby https://stackoverflow.com/questions/45760348/how-to-send-email-notification-with-jenkins

[2018-09-13 17:52] rdicroce opened #27 "Using Context in scripted pipeline requires script security approvals"
When using this plugin with returnType CONTEXT in a scripted pipeline, every model method has to be approved in the Script Security plugin. Otherwise, you get errors like:

IMO all of the model methods should be whitelisted so manually approving them is not necessary,

Jenkins version: 2.141
Git Changelog plugin version: 2.9
Script Security plugin version: 1.46

[2018-09-13 18:01] tomasbjerre commented on #27
Sounds good.

Should be possible with something [like this](https://github.com/jenkinsci/simple-build-for-pipeline-plugin/blob/master/src/main/java/org/jenkinsci/plugins/simplebuild/SimpleBuildDSL.java).

[2018-09-13 19:11] tomasbjerre commented on #27
Should be fixed in 2.10. Open issue again if not working.

[2018-09-13 19:11] #27 closed, assigned to nobody

[2018-09-17 06:02] dbelyaev opened #28 "REST client (used for Jira titles integrations, f.e.) does not respect proxy settings in Jenkins"
* Plugin version used: 2.10
 * Jenkins version used: 2.141
 * Your configuration:
   * Jenkins behind the proxy (proxy configured in Jenkins / Manage Plugins / Advanced / HTTP Proxy Configuration)

I am using "Use Jira" section in a configuration. I can see in general Jenkins log that RestClient is trying to connect to remote server and is getting "Connection Reset", it is common when Jenkins is s

[2018-09-17 08:42] tomasbjerre commented on #28
**Note to self**: Proxy support was added in Violation Comments to Bitbucket Server Plugin.

https://github.com/tomasbjerre/violation-comments-to-bitbucket-server-lib/pull/4

https://github.com/jenkinsci/violation-comments-to-stash-plugin/blob/master/src/main/java/org/jenkinsci/plugins/jvctb/ViolationsToBitbucketServerRecorder.java#L77

[2018-09-25 14:25] reubenfirmin opened #29 "Latest version is not rendering html on the build page"
When reporting a bug, please try to provide as much information as possible.

 * Plugin version used. 2.10
 * Jenkins version used. 2.121.3

I just updated to 2.10. Previously rendering templates (a very lightly edited version of your default) is now being escaped instead of rendering, i.e.. is rendering as:

[code]

[2018-09-25 14:42] tomasbjerre commented on #29
This was changed in 2.7. So downgrade to 2.6 or wait for an update to fix this.

[2018-09-25 15:30] tomasbjerre commented on #29
Releasing a fix in 2.11 now. Should be available in update center within a couple of hours.

[2018-09-25 15:30] #29 closed, assigned to nobody

[2019-01-31 11:33] Eldadc opened #31 "Is it possible to make change log between last commits"
It is possible to create change log without referring to commits hash in Jenkins ?
More to make change log every merge to develop.

Thanks

[2019-01-31 11:35] tomasbjerre commented on #31
Yes, it is explained ni the readme.

[2019-01-31 11:35] #31 closed, assigned to nobody

[2019-02-04 00:06] vvchistyakov opened #32 "JEP-200 net.minidev.json.JSONArray"
Hi, folks.
I have a problem.
I configured pipeline with 'git changelog' plugin. And after starting the job, I got error JEP-200.

Plugin ver. 2.15
Jenkins ver. 2.121.3

pipeline
`
def changelogContext = gitChangelog returnType: 'CONTEXT',
  				to: [type: 'REF', value: 'master'],
  				jira: [password: "$PASSWORD", server: 'https://test.com', username: "$USERNAME"]
`

output
`
[Pipeline] gitChange

[2019-02-04 06:16] tomasbjerre commented on #32
Is it possible to approve the script? https://jenkins.io/doc/book/managing/script-approval/

[2019-02-04 08:54] vvchistyakov commented on #32
I tried to do this  it first time. but I didn't see `net.minidev.json.JSONArray` for approval =(

[2019-02-10 16:17] tomasbjerre commented on #32
It works without the jira integration right? Like this:
[code]

[2019-02-14 13:04] vvchistyakov commented on #32
I've just tested without Jira. Yep. it works!
But Jira still is needed for me and  my colleagues...

[2019-02-16 17:21] tomasbjerre commented on #32
I released 2.16 now. Hopefully fixes the problem.

[2019-02-25 08:55] #32 closed, assigned to nobody

[2019-02-25 08:55] vvchistyakov commented on #32
Thnx! Now it is working in my test jobs.
I had updated plugin and sent information to my colleagues. I think that they won't have problems too.

[2019-03-06 16:25] crisp2u opened #33 "Pipeline with render template when returning Context"
Environment:

- Jenkins ver. 2.150.1
- Plugin verstion 2.16

When running a pipeline I'm interested if it's possible to run the gitChangelog Step and return context object but then use a Mustache template to render a string.

I know that the library behind the plugin has the builder object but i'm not sure if and how I should use it directly.  The plugin step seems to do an abstraction of builder

[2019-03-06 16:31] tomasbjerre commented on #33
The context object is just a POJO so perhaps you can find some way of doing
that.

An alternative might be to just use groovy to construct a string from the
context. See
http://docs.groovy-lang.org/docs/next/html/documentation/template-engines.html

Den ons 6 mars 2019 17:25Cristian Pop <notifications@github.com> skrev:

[2019-03-14 20:47] Ri5ux commented on #26
Any updates on this? A fix would be appreciated. Currently need this fixed for my projects as well.

[2019-03-15 05:40] tomasbjerre commented on #26
Can you not do the same thing with the **Git Changelog** action? Or with a pipeline as described in the readme?

My intention is to have the **Publish Git Changelog** and **Publish JIRA Filter** removed. I consider it duplicated functionality.

[2019-03-15 20:44] Ri5ux commented on #26
Does the Create file sub action of Git Changelog actually filter through environment variables? Or is it just as broken as the Publish Git Changelog action? That will let me determine if the answer to your question is Yes or No.

[2019-03-15 21:11] tomasbjerre commented on #26
It should. If it does not work, please file a bug!

[2019-06-11 13:27] blka opened #34 "please fix needed JAXB dependency for openjdk11"
Environment:

Jenkins ver. 2.176
Plugin verstion 2.16

`java --version
openjdk 11.0.3 2019-04-16 LTS
OpenJDK Runtime Environment 18.9 (build 11.0.3+7-LTS)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.3+7-LTS, mixed mode, sharing)`

it's because java 11 droped "java.xml.bind", right now it's impossible to use "--add-modules java.xml.bind"

this can be fixed by adding neccessary dependency JAXB from je

[2019-06-11 17:13] tomasbjerre commented on #34
Corrected and released in 2.17. Thanks for reporting!

[2019-06-11 17:13] #34 closed, assigned to nobody

[2019-06-12 06:12] paulwellnerbou commented on #34
Thanks for the report,  @blka.

I started working on it. I did not touch the project for a long time, and I get tons of compile errors with the new jenkins and java versions, will have to consolidate the dependencies somehow.

Pull request from your side would be welcome ;-)

[2019-06-28 10:54] #33 closed, assigned to nobody

[2019-10-10 09:16] ma-re-k opened #35 "Cannot get Jira issues titles after plugin update to version 2.19"
* Plugin version used.
2.19 (updated from version 2.17)
 * Jenkins version used.
2.190.1
 * Configuration:
   * Freestyle job
   * changelog template:

  {{#hasIssue}}
\- {{issue}} - {{title}}
  {{/hasIssue}}
  {{^hasIssue}}
\- {{name}}
  {{/hasIssue}}
{{/issues}}

   * Jira credentials provided from Jenkins credentials manager
 * Expected result:
Generated changelog contains Jira issue title.
 *

[2019-10-10 16:50] tomasbjerre commented on #35
Strange, does it also dont work with pipelines?

[2019-10-20 11:19] tomasbjerre commented on #35
No response, closing

[2019-10-20 11:19] #35 closed, assigned to nobody

[2019-10-27 09:29] atomlab opened #37 "2.20 not rendering html on the build page"
Hello. I created stage for changelog page, but html template not rendering.
Plugin version 2.20

[code]

<img width="882" alt="Screenshot 2019-10-27 at 12 26 48" src="https://user-images.githubusercontent.com/1222449/67632510-20870780-f8b5-11e9-92bf-ad72268618ce.png">

<img width="829" alt="Screenshot 2019-10-27 at 12 28 29" src="https://user-images.githubusercontent.com/1222449/67632518-4e6c4c00-

[2019-10-27 09:35] tomasbjerre commented on #37
You need to enable html rendering in jenkins global security settings

[2019-10-27 09:36] tomasbjerre commented on #37
Closing because it is not related to the plugin.

[2019-10-27 09:36] #37 closed, assigned to nobody

[2019-10-27 09:37] atomlab commented on #37
Thanks a lot! It's work.
<img width="516" alt="Screenshot 2019-10-27 at 12 36 34" src="https://user-images.githubusercontent.com/1222449/67632591-76a87a80-f8b6-11e9-86cc-3e8da5181b5a.png">

[2019-10-28 12:28] ma-re-k commented on #35
Hi Tomas,
I tried plugin update from 2.17 to 2.20 and issue still exists. About pipeline jobs I don't use them in my configuration and actually have no experience in this area. I have created simple pipeline job just to test the plugin and got titles from Jira. But in this case password and username were hard-coded in the pipeline script. I think issue is related to credentials taken from Jenkins

[2019-10-28 13:01] ma-re-k commented on #35
I have observed one more thing. Jobs that were modified after gitchangelog plugin update will have credentials checkbox unchecked after downgrading to version 2.17. Jobs that were not touched after update and then downgrade to version2.17 are ok and have credentials set as before update.

[2019-10-28 15:44] tomasbjerre commented on #35
Yes, you can use:
[code]
See: https://wiki.jenkins.io/display/JENKINS/Credentials+Binding+Plugin

[2019-10-29 08:43] ma-re-k commented on #35
Thanks. I tried and can confirm that pipeline jobs are working, but in this case credentials are provided via Credentials Binding plugin. Freestyle jobs still have the issue. I also tried with newly generated credentials and every time there is no title populated from Jira.

[2019-11-07 16:55] anigetsin opened #38 "Build log exposes Jira credentials which was not the case in previous version."
* Plugin version used -> 2.20
 * Jenkins version used -> 2.190

[2019-11-07 17:07] tomasbjerre commented on #38
When using pipeline?
I will probably investigate and fix it tomorrow.

[2019-11-07 17:12] anigetsin commented on #38
I am not using pipeline , its a free style job where I am just creating changelog file.

Check the image of the setttigs I have enabled, once I run the job then on build-log it gives away my secured password credentials.

![image](https://user-images.githubusercontent.com/47367361/68411031-bba29b80-0157-11ea-9ee3-419ff093a2d2.png)

[2019-11-08 14:42] tomasbjerre commented on #38
Released in 2.21. Thanks for reporting!!

[2019-11-08 14:42] #38 closed, assigned to nobody

[2019-11-08 14:43] anigetsin commented on #38
Thanks for quick workaround.

[2019-12-13 14:44] igorek9191 opened #39 "How to handle multiple issues in one commit message ?"
I'm using Jenkins Changelog plugin, which also uses our Jira. I've determined the Jira issue pattern like this one:  (WHIM-\d{4})
But the problem is that there are could be multiple Jira issues in one commit. How to handle all of them in a changelog template ?
I guess that in {{#issues}} section of template there should be some foreach loop to get every issue from a commit? Am I correct ? If yes t

[2019-12-13 15:58] tomasbjerre commented on #39
The context structure, what the issues variable contains, is described here:
https://github.com/tomasbjerre/git-changelog-lib

You can also let the plugin just return CONTEXT as described in the readme here. And construct the changelog howe er you want with groovy.

[2020-01-29 19:59] erodriguez10 opened #40 "commitTime showing incorrect date on new year"
* Plugin version used.
 2.21
 * Jenkins version used.
2.190.1

* Config in pipeline
def changelogContext = gitChangelog returnType: 'CONTEXT',
  from: [type: 'COMMIT', value: 'commithash'],
  to: [type: 'REF', value: 'HEAD'],
  jira: [issuePattern: 'JIRAPATTERN-([0-9]+)\\b', password: '', server: '', username: '']

     def tempMap
     def commitArray = []
     changelogContext.commits.each { com

[2020-01-30 05:27] tomasbjerre commented on #40
Can you repeat it in an open repository?

[2020-02-26 09:31] smarchandon opened #41 "not compatible jGIT 5 (latest git client plug ins)"
Hello,
I'm not 100% sure about the issue. Your plugins is great and worked smooth for a long time on an old Jenkins server. We rebuilt one from scratch and it does not work anymore. I'm using git changelog 2.21. The new server Git plugins is now 4.1.1, Git Client plugins is 3.1.1, while is was 2.8.0 on the old server

I get this error message :
ERROR: Step ‘Publish JIRA Filter’ aborted due to exce

[2020-02-26 09:44] tomasbjerre commented on #41
There is an example of doing this with a pipeline. The example is in the readme of this repo.

[2020-02-26 10:18] smarchandon commented on #41
I'm not sure I understand the reply. We used to have a working configuration, using an older version of Git ChangeLog / Git Client. We used the documentation at that time.

But it does not work anymore with the new version of Git Client, with latest jGIT library. I do not see how documentation to configure a new task would help....

[2020-02-26 10:32] paulwellnerbou commented on #41
@smarchandon you are using the Jira filter, right? This code is not touched for a certain time. I will find the time to look into it this week.

[2020-02-26 10:35] tomasbjerre commented on #41
"documentation to configure a new task would help" because that new task is (probably) working.

[2020-03-19 09:26] smarchandon commented on #41
Hello,

I have refreshed all my jenkins plugins to latest and I still get the error message

ERROR: Step ‘Publish JIRA Filter’ aborted due to exception:
java.lang.NoSuchMethodError: org.eclipse.jgit.lib.Repository.getRef(Ljava/lang/String;)Lorg/eclipse/jgit/lib/Ref;
	at de.wellnerbou.gitchangelog.jgit.GitLogBetween.resolveRev(GitLogBetween.java:44)
	at de.wellnerbou.gitchangelog.jgit.GitLogBetween

[2020-04-15 17:51] MaximilienRedemption commented on #41
Hi, we updated all our plugins recently and we are getting a similar error. I also found the [same issue](https://issues.jenkins-ci.org/browse/JENKINS-53004) when trying to track down why the changelog was failing. Our output is

05:51:12 Also:   hudson.remoting.Channel$CallSiteStackTrace: Remote call to TravelMachine
05:51:12 		at hudson.remoting.Channel.attachCallSiteStackTrace(Channel.java:1788

[2020-04-16 18:48] kiran009 opened #43 "Old commits being shown in the ChangeLog"
When reporting a bug, please try to provide as much information as possible.

 * Plugin version used. --
 * Jenkins version used -- 2.176.3
 * Your configuration:
   * Template and any other relevant details.
 * Expected result and actual result.
 * Any information from the logs:
   * Jenkins log: http://jenkins-server/log/
   * Build log.

[2020-04-21 16:24] jloneva opened #44 "Unable to save job config when GIT Changelog plugin is used"
I am unable to update/save Jenkins job configs that use the GIT Changelog plugin. After hitting save I get the following error message:

`JSONObject["basicAuthString"] not found.`
`net.sf.json.JSONException: JSONObject["basicAuthString"] not found.
	at net.sf.json.JSONObject.getString(JSONObject.java:2040)
	at org.jenkinsci.plugins.gitchangelog.GitChangelogDescriptor.newInstance(GitChangelogDescri

[2020-04-21 17:12] tomasbjerre commented on #44
Corrected in 2.23. Available in update center within hours.

Thanks for reporting!

[2020-04-21 17:12] #44 closed, assigned to nobody

[2020-05-12 16:39] smarchandon commented on #41
@MaximilienRedemption you found a solution to sort this out ?

@paulwellnerbou gentle reminder, indeed this code was not touched for a while, that's may be the reason it's not compatible with JGit 5.x ...

thanks for your help.

[2020-05-21 06:29] pooja1889 opened #45 "Jira title is not populated in git changelog output"
When reporting a bug, please try to provide as much information as possible.

 * Plugin version used. 2.23
 * Jenkins version used. 2.204
 * Your configuration:
[code]
 * Expected result and actual result.
Output should contain jira title
 * Any information from the logs:
   java.lang.RuntimeException: No template specified
	at org.jenkinsci.plugins.gitchangelog.steps.GitChangelogStep.perform(GitC

[2020-05-21 17:53] tomasbjerre commented on #45
You are missing `,` after `jira:[issuePattern: 'CICD', password: '', server: '', username: '']`.

You should do:

[code]

[2020-05-25 17:27] smarchandon commented on #41
Just in case someone has the same issue, seems like you are doomed to use old versions of git and git clients in Jenkins, not possible to use latest ones, this plugins is not compatible.

Last comments from https://issues.jenkins-ci.org/browse/JENKINS-53004 is pretty clear what's to be done, so I have downgraded  :
Git from  4.2.2 to 3.12.2
Git client from 3.2.1 to 2.9.0
No other solution...

And

[2020-05-25 17:47] tomasbjerre commented on #41
I also think it is bad. It is a merge of 2 plugins, further explained in the readme. But it is clear that my part is maintained:
https://github.com/jenkinsci/git-changelog-plugin/graphs/contributors

I would argue that the part from @paulwellnerbou should be removed from the plugin because:

 * It is not maintained: https://github.com/jenkinsci/git-changelog-plugin/graphs/contributors
 * Is not wo

[2020-05-25 21:05] paulwellnerbou commented on #41
@tomasbjerre Yes, we con go ahead with the removal of my part of the plugin. It does not seem to be used much anywhere. It would make sense anyhow if both parts would share the same git library behind. (Unfortunately we developed the git lib almost at the same time and merged it together.)

The only feature that is not covered by your part is the automatic search for the latest release and the aut

[2020-05-26 06:56] smarchandon commented on #41
@tomasbjerre @paulwellnerbou Thanks for the swift reply, appreciate that.

I'm not 100% clear what part is covered by whom, but if I have this error ... that's likely because I'm using that "not used much anymore" code (may be not). Anyway, looking forward for a next build (nothing urgent), I'll give it a try with latest versions...

thanks for you help.

[2020-05-26 12:58] pooja1889 commented on #45
Thanks. Its working fine now :)

[2020-05-26 12:58] pooja1889 commented on #45
Please provide any example to filter git commit message

[2020-05-27 14:31] tomasbjerre commented on #41
PR opened, awaiting @paulwellnerbou approval: https://github.com/jenkinsci/git-changelog-plugin/pull/47

[2020-05-27 14:42] #45 closed, assigned to nobody

[2020-05-29 06:07] tomasbjerre commented on #41
Closing this, as the feature is now removed from version 3.0. https://github.com/jenkinsci/git-changelog-plugin/pull/47

[2020-05-29 06:07] #41 closed, assigned to nobody

[2020-05-29 06:09] tomasbjerre commented on #43
Impossible to investigate because no information is provided.

[2020-05-29 06:09] #43 closed, assigned to nobody

[2020-05-29 06:09] tomasbjerre commented on #40
no response, closing.

[2020-05-29 06:09] #40 closed, assigned to nobody

[2020-05-29 06:09] #39 closed, assigned to nobody

[2020-05-29 06:11] tomasbjerre commented on #26
As of 3.0 this action is not available anymore. See https://github.com/jenkinsci/git-changelog-plugin/pull/47 and discussion in https://github.com/jenkinsci/git-changelog-plugin/issues/41

[2020-05-29 06:11] #26 closed, assigned to paulwellnerbou

[2020-05-29 06:11] tomasbjerre commented on #25
As of 3.0 this action is not available anymore. See https://github.com/jenkinsci/git-changelog-plugin/pull/47 and discussion in https://github.com/jenkinsci/git-changelog-plugin/issues/41

[2020-05-29 06:11] #25 closed, assigned to paulwellnerbou

[2020-08-10 07:07] TitliBasu37 opened #48 "{{title}} is not printing"
I am using git changelog plugin.When I am using :

### {{name}} {{issue}} {{title}}

Below is getting printed  👍 Ex- 👍

Jira QW-10877

Instead of the summary of the ticket.How can i Print the summary from the Jira ticket using this plugin

[2020-08-10 07:10] tomasbjerre commented on #48
Follow issue template

[2020-08-10 07:10] #48 closed, assigned to nobody

[2020-08-10 07:17] TitliBasu37 opened #49 "Jira Summary is not fetched"
I am using below code :
        {
            def changelogString = gitChangelog returnType: 'STRING',
                from: [type: 'REF', value: "${currentReleaseTag}"],
                    to: [type: 'REF', value: 'master'],
                      ignoreCommitsIfMessageMatches: '^Merge.',
                      ignoreCommitsWithoutIssue: 'true',
                     jira: [issuePattern: 'CICD'+ '-

[2020-08-10 07:28] tomasbjerre commented on #49
Still not following issue template

[2020-08-10 07:28] #49 closed, assigned to nobody

[2020-08-10 07:40] TitliBasu37 opened #50 "{{title}} is not working"
Plugin version used: 2.10
Jenkins version used: 2.141
Your configuration:
                 def previousReleaseVersion = getCurrentReleaseVersion(RELEASE)
                   def currentReleaseTag = "${RELEASE}/" + previousReleaseVersion
                   print "Current Release tag: ${currentReleaseTag}"
             withCredentials([[$class: 'UsernamePasswordMultiBinding', credentialsId: '*****',

[2020-08-10 07:57] tomasbjerre commented on #50
Try version 3.0 of plugin.
Try using  jira api token.
Check both build log and jenkins global log.

This is likely a problem with integration with jira.

[2020-08-10 09:54] TitliBasu37 commented on #50
As a {{title}} exactly what should come in the  output from a Jira ticket page ?

[2020-08-10 10:22] tomasbjerre commented on #50
This:
https://github.com/tomasbjerre/git-changelog-lib/blob/8596ffa8173a4c537140c21860530e967965f69c/src/main/java/se/bjurr/gitchangelog/internal/integrations/jira/JiraClient.java#L37

And jira response looks like:
https://github.com/tomasbjerre/git-changelog-lib/blob/8596ffa8173a4c537140c21860530e967965f69c/src/test/resources/jira-issue-jir-1234.json#L7

[2020-08-10 12:33] TitliBasu37 commented on #50
Thanks will try ...do u have any example using the plugin with  jira api token

[2020-08-10 12:37] tomasbjerre commented on #50
Try the snippet generator:
https://www.jenkins.io/doc/book/pipeline/getting-started/#snippet-generator

Den mån 10 aug. 2020 14:332018201920201920 <notifications@github.com> skrev:

[2020-08-10 14:08] TitliBasu37 commented on #50
I tried upgrading the plugin version to 3.0....but still no luck...{{title}} field is coming blank :(

[2020-08-11 11:58] TitliBasu37 commented on #50
In our project...they are saying jira api token is not allowed to create as it will burden the jiras for the rest api calls...anyway the jira ticketid hyperlink is opening...but still not jira  title is coming...any other way to populate the jira titles

[2020-08-11 12:01] tomasbjerre commented on #50
That is expected when you do not supply cfedentials and this plugin will not be able to integrate with jira to get the title.

[2020-08-11 12:04] TitliBasu37 commented on #50
But I am supplying the credentials with class UsernamePasswordMultiBinding :

withCredentials([[$class: 'UsernamePasswordMultiBinding', credentialsId: 'CICD_Credential_ID',
            usernameVariable: 'USERNAME', passwordVariable: 'PASSWORD']])
                  {
            def changelogString = gitChangelog returnType: 'STRING',
                from: [type: 'REF', value: "${currentReleaseTag}

[2020-08-11 13:34] TitliBasu37 commented on #50
Working thanks a lot

[2020-08-11 13:34] #50 closed, assigned to nobody

[2020-10-27 15:20] chrisipa opened #53 "Pipeline snippet generator is broken in newer Jenkins versions"
Hi,

it seems like the pipeline snippet generator for the plugin is broken in newer Jenkins LTS versions. We are currently using:
- Jenkins LTS 2.249.2
- Plugin version 3.0

Here's a log file with the exception from the Jenkins standard out:
- [git-changelog-exception-log.txt](https://github.com/jenkinsci/git-changelog-plugin/files/5446249/git-changelog-exception-log.txt)

Best regards
Chris

[2020-10-28 18:20] tomasbjerre commented on #53
It works in `2.243` but not in any version from `2.244`.

https://github.com/jenkinsci/jenkins/compare/jenkins-2.243...jenkins-2.244

[2020-10-28 19:05] tomasbjerre commented on #53
I created https://issues.jenkins-ci.org/browse/JENKINS-64071

[2020-10-28 19:26] chrisipa commented on #53
Thank you very much. Please keep me posted.

[2020-10-29 15:42] tomasbjerre commented on #53
It works with 2.264. I will close this issue and refer to the Jenkins Jira ticket:
https://issues.jenkins-ci.org/browse/JENKINS-64071

[2020-10-29 15:42] #53 closed, assigned to nobody

[2020-12-22 17:54] AssaelDan opened #54 "Commits returned from pipeline step are different from git log and freestyle post build action"
* Plugin version used = Version: 3.0
 * Jenkins version used = 2.260
 * Your configuration:
   * Template and any other relevant details =
   Running as a pipeline step, we call a function that performs the gitChangelog step.

[code]

 * Expected result and actual result.
 We input tags to the git log and no commits are returned, and we get the same result (no commits) with these tags when we call

[2020-12-22 18:08] tomasbjerre commented on #54
Use 2 dots: '$from'..'$to'.

The plugin finds all commits in "to" that are not in "from". Or, that is the intention.

[2020-12-23 07:29] AssaelDan commented on #54
[code]
Using .. yields no commits as well.

Both beta2 and rc1 are on the same commit in this specific case, does it still behave that way?
How come the the same tags input into the plugin as a post action in a configuration job doesnt return any commits?

[2020-12-23 07:34] tomasbjerre commented on #54
How did you configure that post build action?

[2020-12-23 07:41] AssaelDan commented on #54
I pass parameters for the tags I want to get the changelog for, everything else is default.
![image](https://user-images.githubusercontent.com/43925095/102971997-0bcaf180-4503-11eb-82a1-9a98a87784b6.png)

*not showing the jira connection data

[2020-12-23 07:45] tomasbjerre commented on #54
Below this screenshot you have options on how you want to present the result. What did you pick?

[2020-12-23 07:53] AssaelDan commented on #54
I copied over the template we used in the pipeline job
![image](https://user-images.githubusercontent.com/43925095/102973019-ba236680-4504-11eb-99fc-c770f6760f2d.png)

[2020-12-23 08:13] tomasbjerre commented on #54
I think it might be this:
https://github.com/jenkinsci/git-changelog-plugin/blob/9833cb3d18e12b72cdb368e980d310dba2cbbe46/src/main/java/org/jenkinsci/plugins/gitchangelog/steps/GitChangelogStep.java#L344

When using the pipeline step, `ignoreCommitsIfMessageMatches` will be empty and not `null`.

When using the post build action, it will not be `null` and not be empty but it will be the string you

[2020-12-23 11:00] MaorT commented on #54
Hi,
We tried to add the ignoreCommitsIfMessageMatches: '^Merge.*' , and then we didn't got the commit with 'Merge' in it's message but got the other commits even they are not  a 'change' (The from-to tags are on the same commit )

[2020-12-23 13:32] tomasbjerre commented on #54
You need to provide the same logging again. As you previously did when not having this filter.

[2020-12-24 10:17] AssaelDan commented on #54
We decided to check if the Tags given both point to the same commit and return no changes if it does, before calling the plugin.
As we worked around it I am closing this issue.

If you want to try and reproduce this behavior :
Push a commit (not a merge)
Add tag1 to the commit
Add tag2 to the commit
Add tag3 to the commit
Run the pipeline step from tag1 to tag3.

[2020-12-24 10:17] #54 closed, assigned to nobody

[2021-03-10 10:21] quasarea opened #55 "Synchronise properties between freestyle and pipeline"
### Feature Request

I.e. currently freestyle allows to generate changes file using template, but pipeline does not have such options.

https://localhost/pipeline-syntax/

[2021-03-10 11:40] tomasbjerre commented on #55
Yes, no need for it.

[code]

[2021-03-10 11:40] #55 closed, assigned to nobody

[2021-04-12 12:56] ryandell24 opened #56 "Capture Group Variables"
### Version report

Jenkins and plugins versions report:

[code]
### Reproduction steps

Hi, This is not so much a technical bug, but I cannot find in the documentation the plugins variable for PATTERN_GROUP_1, etc.

Is there a way to access the capture groups of the regular expression from objects such as customIssue? I see this is possible through git-changelog for other solutions.

### Results

[2021-04-12 13:22] #56 closed, assigned to nobody

[2021-05-04 05:12] 190484ck opened #57 "Is this possible to get the value of timespent from jira issue"
Is this possible to get the value of timespent from jira issue.
I need to publish the value of timespent along with jira issue key.

I am using git-changelog-plugin and publish to confluence plugin.

Thanks in advance.

[2021-05-04 16:02] tomasbjerre commented on #57
No such feature implemented.

[2021-06-11 15:52] GuyHPE opened #58 "Since upgrading to 3.5 and then 3.7, the create file feature is not working."
### Version report

Jenkins and plugins versions report:

[code]
PS C:\Users\Administrator.WIN-1Q8BGQHN6SP> [System.Environment]::OSVersion.Version

Major  Minor  Build  Revision
-----  -----  -----  --------
10     0      14393  0

IE:   WIndows Server 2016    64-bit
[code]
                <h1> Git Changelog for branch "BRANCHNAME" </h1>

                {{#commits}}
                {{#merge}}

[2021-06-11 18:28] tomasbjerre commented on #58
should be fixed now. Open issue again if not working.

[2021-06-11 18:28] #58 closed, assigned to nobody

[2021-06-15 13:17] thomas-eaa opened #59 "ParseException: Unexpected End Of File"
Hi,

At least since 3.5 we encounter the following error message with most repositories:

net.minidev.json.parser.ParseException: Unexpected End Of File position <xxx>: null

A downgrade to 3.2 resolved the issue. Didn't try with versions 3.3 and 3.4 that might also work.

Thank you!

[2021-06-15 13:19] tomasbjerre commented on #59
You must supply your configuration, or else this is impossible to work with.

[2021-06-15 13:19] #59 closed, assigned to nobody

[2021-06-15 13:46] thomas-eaa opened #60 "ParseException: Unexpected End Of File"
At least since 3.5 we encounter the following error message with most repositories:

net.minidev.json.parser.ParseException: Unexpected End Of File position : null

A downgrade to 3.2 resolved the issue. Didn't try with versions 3.3 and 3.4 that might also work.

### Version report

Jenkins and plugins versions report:

Jenkins: 2.297
OS: Windows Server 2016 - 10.0
---
ace-editor:1.1
active-direct

[2021-06-15 14:01] tomasbjerre commented on #60
Does it work if you remove the Jira configuration?

I tried with Jenkins 2.277.4. And plugin version 3.8. Pipeline below. Works for me.

This pipeline:

[code]

[2021-06-15 17:47] thomas-eaa commented on #60
I can confirm that the issue is linked to the Jira configuration - if I remove it it's working.
I also managed to get a better stacktrace that should help fixing the problem:

net.minidev.json.parser.ParseException: Unexpected End Of File position 696: null
[com.jayway.jsonpath.spi.json.JsonSmartJsonProvider.parse(JsonSmartJsonProvider.java:64), com.jayway.jsonpath.internal.ParseContextImpl.parse(

[2021-06-16 16:36] tomasbjerre commented on #60
Try 3.9. It should include the unparsable json in the exception thrown.

[2021-06-16 16:59] thomas-eaa commented on #60
Cannot reproduce the issue with 3.9. Thank you!

[2021-06-16 18:39] #60 closed, assigned to nobody

[2021-06-17 05:03] avivek opened #62 "Intermittent failures JSON parsing - the issue is not reproduced when same job rebuilt after some time."
Recently the git change log plugin starts failing intermittently with the following error stack:

net.minidev.json.parser.ParseException: Unexpected End Of File position 2251: null
19:49:28  	at net.minidev.json.parser.JSONParserMemory.readString(JSONParserMemory.java:122)
19:49:28  	at net.minidev.json.parser.JSONParserBase.readMain(JSONParserBase.java:410)
19:49:28  	at net.minidev.json.parser.J

[2021-06-17 05:27] tomasbjerre commented on #62
Try version 3.9. Follow issue template if you want to open an issue.

[2021-06-17 05:27] #62 closed, assigned to nobody

[2021-06-18 09:54] peter-daplyn-mortgagegym-com opened #63 "Not connecting to Jira to pull issue details"
### Version report

Jenkins and plugins versions report:

[code]

- What Operating System are you using (both controller, and any agents involved in the problem)?

[code]

### Reproduction steps

Jenkins pipeline script
[code]

### Results

Expected result:

to find jira issue titles (and other details)

Actual result:

jira issues identified, but no titles or links. no indication that any jira lo

[2021-06-18 16:37] tomasbjerre commented on #63
There were 2 bugs recently, #60 and #62, with problems in the Jira integration. They got stacktraces in their log.

This is on my TODO list.

[2021-12-20 13:55] rodrigoGA opened #65 "Issue duplication"
I am using jenkins, with the following command:

[code]

and in the console output I can see

[code]

For some reason it is detecting a redmine issue, when I don't have it configured.

[2021-12-20 17:37] tomasbjerre commented on #65
A workaround might be to change it like:

[code]

[2022-01-05 15:45] tomasbjerre commented on #65
Releasing a fix for this now in `3.15`. Open issue again if not working.

[2022-01-05 15:45] #65 closed, assigned to nobody

[2022-02-11 23:21] webminster opened #66 "How to get changelog between HEAD and most recent tag?"
### Describe your use-case which is not covered by existing documentation.

Is there any way to get the changes between the top of the repor (HEAD) and the most recent of some matching tag?   I need to create a changelog for what changed between HEAD and the last "release" that was done.

I'm trying to use the pipeline version of this, but I see no options for this in the snippets generator.   As

[2022-02-12 06:22] tomasbjerre commented on #66
Update to version 3.19 and that feature should be available. Documented in readme here:
https://github.com/jenkinsci/git-changelog-plugin#determine-highest-version-from-commit-messages
Open issue again if any problems.

[2022-02-12 06:22] #66 closed, assigned to nobody

[2022-02-14 15:00] webminster commented on #66
Sorry, but how does this change help?  I am trying to get a changelog between tags.  This change appears to be how to get a version number.  Can you explain?

[2022-02-14 15:07] webminster opened #67 "How to get changelog between HEAD and most recent tag?"
### Describe your use-case which is not covered by existing documentation.

Is there any way to get the changes between the top of the repor (HEAD) and the most recent of some matching tag? I need to create a changelog for what changed between HEAD and the last "release" that was done.

I'm trying to use the pipeline version of this, but I see no options for this in the snippets generator. As far

[2022-02-14 15:11] tomasbjerre commented on #67
It can now give you the most recent tag matching a semantic version.

You can construct a changelog between that tag and HEAD.

[2022-02-14 16:38] webminster commented on #67
Is there any way to not use semantic versioning for this request?   I'm building an AMI build pipeline that I'd like to use something else (like the release date) as version.  But I'd have to look back to either the most recent tag, or most recent tag named "release" or something.

[2022-02-14 16:46] tomasbjerre commented on #67
If you just want the most recent tag, perhaps this works? https://gist.github.com/rponte/fdc0724dd984088606b0

[2022-02-14 17:46] webminster commented on #67
Am not having luck with 3.19 and getting tags.  Is there a trick to what it's looking for?

I pushed a tag to the remote:
commit 069953e545e417cf89f5478dfcd5599e43e07500 (tag: 2022-02-11, tag: 1.0.0)
Author: Alan Sparks <alan.l.sparks@microfocus.com>
Date:   Thu Feb 10 15:18:49 2022 -0700

Added this to a pipeline step:
            def highestVersion = getHighestSemanticVersion()
            curre

[2022-02-14 17:51] tomasbjerre commented on #67
Are you sure Jenkins is fetching the tags?

This is why I like to use the command line tool:
https://github.com/tomasbjerre/git-changelog-command-line#example---semantic-versioning-from-conventional-commits

Easier to fiddle with locally.

[2022-02-14 18:21] webminster commented on #67
I'm seeing this in the Jenkins build log, I thought --tags would be including the tags.  I was wanting to avoid installing NPM stuff on the server just for debugging...

11:04:40   > git fetch --tags --progress --prune -- git@gitlab.devops.ss.saas.microfocus.com:CCoE/chglog.git +refs/heads/master:refs/remotes/origin/master # timeout=10
11:04:40  Checking out Revision 026ea085cf74bf

[2022-02-14 18:25] tomasbjerre commented on #67
I ment you can use the command line locally. It uses the same code.

[2022-02-14 18:35] webminster commented on #67
So, I'm a little lost.   If I run "git tag", I get:
$ git tag
1.0.0
2022-02-11
release

If I run your utility, I get:
$ npx git-changelog-command-line --print-highest-version-tag
Exception in thread "main" java.util.NoSuchElementException: No value present
        at java.base/java.util.Optional.get(Optional.java:148)
        at se.bjurr.gitchangelog.main.Main.main(Main.java:746)

I see 1.0.0 ther

[2022-02-14 21:36] tomasbjerre commented on #67
Do you have just a few commits in the repo? A shallow clone maby? Is the tag on the first commit in the repo?
I actually found a bug here, perhaps same as you are experiencing.

[2022-02-19 14:08] MaartenDCrius opened #68 "Add redmine support"
### What feature do you want to see added?

The git-changelog-lib can fetch redmine issues. Add feature to the plugin to use this feature in Jenkins

### Upstream changes

_No response_

[2022-02-22 18:22] #68 closed, assigned to nobody

[2022-03-10 13:31] rodrigoGA opened #70 "commit order"
### Jenkins and plugins versions report

.

### What Operating System are you using (both controller, and any agents involved in the problem)?

.

### Reproduction steps
I apologize for the bad wording. But it's a question I had asked on stackoverflow a long time ago and I don't know if it's a bug or not.

I hope that someone who understands git and gitchangelog knows what I mean and can clarify w

[2022-03-10 18:23] tomasbjerre commented on #70
This library sorts the commits:
https://github.com/tomasbjerre/git-changelog-lib/blob/c19d1ea128af234361918b9aac35f77462438987/src/main/java/se/bjurr/gitchangelog/internal/git/model/GitCommit.java#L29

[2022-03-11 01:17] rodrigoGA commented on #70
I think that sort commits by commitTime can be a mistake when generating the changelog for many workflows that works with pull request.

In fact, I think that the only case that would work correctly is when the merge reques allow squash merging.

[2022-03-12 14:58] sprnza commented on #50
Hey @TitliBasu37 I've faced the same issue. Could you possibly recall how had you managed to solve the issue?

[2022-03-12 17:05] sprnza opened #71 "STRING doesn't get issue title, but CONTEXT does"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Linux Ubuntu 20.04.2 LTS

### Reproduction steps

[code]
yelds to
[code]

[2022-03-13 09:36] tomasbjerre commented on #71
Made a quick analysis, did not find anything obvious. PR:s are welcome.

Possibly related to https://github.com/jenkinsci/git-changelog-plugin/issues/50.

[2022-03-23 13:35] rodrigoGA commented on #70
In the case of merge commit, it would be useful to be able to build the log based only on the first parent
`git log --first-parent`

[2022-04-13 07:04] avivek opened #72 "Jira integration not working on any version higher than 3.15 with exact same configuration"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Ubuntu 20 LTS

### Reproduction steps

With the exact same configuration jira issue attributes are successfully fetched from jira with plugin version 3.15 but on any higher configuration looks li

[2022-05-06 13:02] esevland commented on #72
Same issue here. Environment:
[code]

[2022-05-25 19:10] rodrigoGA commented on #70
After some research, to get the commits between versions I ended up using `git log --pretty=oneline --topo-order --ancestry-path tagStart..tagEnd`

More detail in https://stackoverflow.com/a/72374838/1989579

[2022-05-28 11:35] vladimirfx commented on #71
It is because `useIntegrations` flag is always `true` for `getChangelog()` (COTNEXT mode), but for `render()` (STRING mode) it is used from settings which is `false` by default and is no way to set it `true` from this plugin.

I think it should be enabled when any integration settings are set to the plugin.

https://github.com/jenkinsci/git-changelog-plugin/blob/c8b0710b7da34f86fefbac10f1c9280e2ce

[2022-07-15 19:38] webminster commented on #67
I still can't figure out how to get what I need here.   It's not making sense to me.

I have a branch, with a git log including:
`commit 482fea9011c61dc2d05a08260d3a328c3df1acdf (HEAD -> chglog, origin/chglog)
Author: Alan Sparks <alan.l.sparks@microfocus.com>
Date:   Fri Jul 15 12:33:08 2022 -0600

    remove PDSC-polkit

commit e482f40ba45fab3ecfc5b2d818d235be637e0fdb
Merge: 0f0f225 56065b3
Auth

[2022-07-16 05:54] tomasbjerre commented on #67
It would be easier to understand your use case if you supplied a graph like:
git log --oneline --graph

[2022-07-16 06:27] tomasbjerre commented on #67
The full graph, as in previous comment, and also the template being used would help understand this.

I made a test in this repo:

[code]

[code]

[code]

[code]

[code]

[2022-07-18 17:04] webminster commented on #67
OK, let me give something concrete.  Maybe you can correct my understanding.

I have a git history like:

===============================================================
commit 482fea9011c61dc2d05a08260d3a328c3df1acdf (HEAD -> chglog, origin/chglog)
Author: Alan Sparks <alan.l.sparks@microfocus.com>
Date:   Fri Jul 15 12:33:08 2022 -0600

    remove PDSC-polkit

commit e482f40ba45fab3ecfc5b2d818d2

[2022-07-18 17:11] tomasbjerre commented on #67
This is intended. 7897ca9 is in the parents of HEAD and not in the parents of 20220413.

[2022-10-24 17:12] johnswu opened #78 "Git Changelog uses apache-commons-text 1.6, which has a vulnerability"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

Windows 2012 Server

### Reproduction steps

From Wizscan, this plugin has handlebars-4.3.0.jar, which exposes the Apache Commons Text security issue:

https://www.imperva.com/blog/apache-commons

[2022-10-24 17:47] tomasbjerre commented on #78
Stepping handlebars library to 4.3.1 and using that in git-changelog-lib.
Releasing that as 1.168.4 and using it in this plugin as 3.24.
(Relates to https://github.com/jknack/handlebars.java/issues/1009)

[2022-10-24 17:47] #78 closed, assigned to nobody

[2022-10-27 01:44] slcnx opened #80 "jackson-databind-2.5.3.jar How to fix too low version"
### Jenkins and plugins versions report

<details>
  <summary>Environment</summary>

[code]

</details>

### What Operating System are you using (both controller, and any agents involved in the problem)?

centos 7

### Reproduction steps

官方报告的

### Expected Results

升级版本，或编译changelog-plugin，修复bug

### Actual Results

尚未修复

### Anything else?

_No response_

[2022-10-27 03:19] tomasbjerre commented on #80
What is the problem?

[2022-10-27 16:26] tomasbjerre commented on #80
I'm guessing you want a newer version of Jackson. It is a transitive dependency:

[code]

If there is an issue with Jackson that effects `java-gitlab-api`, you should report it on that library. There is actually already an issue: https://github.com/timols/java-gitlab-api/issues/401

[2022-10-28 02:23] slcnx commented on #80
谢谢您的回复，请问一下,如果我更新了org.gitlab:java-gitlab-api:4.1.1这个版本到一个较新的版本，这个git-changelog-plugin的版本如何更新呢？

[2022-10-28 02:24] slcnx commented on #80
我尝试了使用 run.sh脚本，但是构建不成功。

[2022-11-07 04:56] vtwaldo21 commented on #72
OMG, thanks so much for documenting the work around to downgrade. Pulling my hair out thinking I had configured something wrong. There are 0 error messages anywhere!

To piggy back on @avivek 's sleuthing, i think the issue is simply in GitChangelogStep.java, there lacks a line for "withUseIntegrations(true)" for the jira and git code blocks. it is only in the redmine block (do people still use re

[2022-11-13 16:56] tomasbjerre commented on #72
Thanks for pointing that out @vtwaldo21 ! This issue should be fixed now. Open issue again if not working.

[2022-11-13 16:56] #72 closed, assigned to nobody